@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

html, body {
	background: #122;
	height: 100%; 
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
}

#settings {
	position: fixed; 
	padding: .5rem 1rem; 
	background: #555; 
	color: #000;
	text-decoration: none; 
	font-size: .8rem; 
	left: 0px;
	bottom: 0px;
	z-index: 6;
	cursor: pointer; 
}

#settings[href="#"] {
	opacity: 0; 
}

header {
	position: fixed; 
	top: 0;
	left: 0;
	z-index: 3; 
}

a {
	cursor: pointer; 
}

li {
	display: block; 
}

ul, li, a, p {
	margin: 0; 
	padding: 0; 
}

#audioProgressIndicator {
	position: absolute;
	top: 2%; 
	right: 2%;
	display: block; 
	z-index: 5; 
	height: 1.25;
	width: 9rem;
}

.loadProgressWrapper {
	position: relative; 
	width: 9rem; 
	padding: 0;
	height: 1.25rem; 
}

.loadProgressWrapper p {
	margin: 0;
	padding: 0;
	position: fixed; 
	top: 0;
	right: 0; 

	display: block; 
	text-align: center; 
	font-size: .8rem; 
	background: rgba(0,0,0,.5); 
	padding: .5rem 2.5rem; 
	border-radius: .5rem; 
}

.loadProgressInner {
	display: inline-block;
	width: 0%;  
	height: 1.25rem; 
	background: #fff; 
	position: absolute; 
	top: 0;
	left: 0;
	transition: all ease .5s;
}

#audioProgressIndicator audio {
	position: fixed;
	top: 0;
	right: 0;
	width: 15rem;
	min-width: 0px; 
}

#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1; 

	background-image: url(http://www.apps.oas.org/oasmeetings/images/loading.gif);
	background-size: contain;
	background-repeat: no-repeat;
	width: 3.5rem;
	height: 3.5rem;
	margin-left: -1.75rem;
	margin-top: -1.75rem;
	opacity: 1;
	opacity: 0; 
}

#qualitySetting.hidden {
  display: none; 
}

#qualitySetting {
	position: absolute; 
	z-index: 5; 
	top: 10%; 
	left: 0%; 
	text-align: center;
	width: 100%; 
}

#qualitySetting > div {
	display: inline-block;
	width: 100%; 
	max-width: 35rem;
	text-align: center; 
	color: #fff;
}

#qualitySetting li {
	margin-bottom: 2.5rem;
}

#qualitySetting a {
  border: solid #999 .15rem;
  padding: 1.5em .5em; 
  display: block; 
  font-size: 1rem;
  background: #111; 
  border-radius: 1rem;
  margin: 1.5% 7.5%;
}

#qualitySetting strong {
  font-size: 1.5em;
  display: inline-block;
  margin-bottom: .5em;
}


#qualitySetting h3 {
	margin-bottom: 3rem;
}

#qualitySetting > div p {
	font-size: 1.25em;
	color: #ccc;
}

#loader, #status {
	opacity: 1; 
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
}

#loader.hidden, #status.hidden, .hidden {
	opacity: 0; 
}

h1, #status {
	background-color: rgba(0,0,0,.5);
	padding: 1rem;
	border-radius: 1rem;
}

h1 {
	position: relative; 
	top: 2%;
	left: 5%;
	font-size: 1.15rem;
}

#featuredAudio {
	position: fixed;
	top: 1%; 
	right: 5%;
	display: block;
	height: 2.5rem;
	z-index: 4;
}

h2 {
	display: none;
}

header * {
	display: inline-block; 
}

.mediaItem {
	display: inline-block;
	padding-right: 5%;
	max-width: 33.3333%; 
}


#status {
	position: fixed;
	top: 60%;
	left: 50%;
	font-size: .95rem;
	display: inline-block;
	width: 20rem;
	margin-left: -9rem;
	text-align: center;
}

#featuredImage {
	position: relative;
	z-index: 2; 

	width: 100%; 
	height: 100%; 
	background-size: contain;
	background-position: center; 
	background-repeat: no-repeat; 

	opacity: 1; 
	transition: all ease 2s;
	-webkit-transition: all ease 2s;
	-moz-transition: all ease 2s;
	margin: 0 auto;
}

#featuredImage.loaded {
	opacity: 1; 
}

@media (max-width: 60rem) {
	header {
		display: none;
	}
	#audioProgressIndicator audio {
		width: 10rem; 
	}
}
